/* frontend/src/pages/AboutPage.css */

/* --- 共用元素 --- */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.page-title {
  padding-bottom: 10px;
  margin-top: 100px;
  margin-bottom: 30px;
  color: #ffffff;
}

.section-card {
  background-color: rgba(14, 23, 42, 0.85);
  border: 1px solid #36334f;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08), 0 0 15px rgba(86, 133, 188, 0.7);
  font-size: 1.1em; 
  color: #e0e0e0;
  text-align: justify; 
}

.section-title {
  color: #62aae2; /* Darker blue for section titles */
  font-size: 2em;
  text-align: center;
  margin-top: 0;
  border-bottom: 1px solid #36334f;
  padding-bottom: 15px;
}

.loading-message {
  font-size: 1.2em;
  color: #555;
  text-align: center;
  padding: 50px;
}

.error-message {
  color: red;
  background-color: #ffebee;
  border: 1px solid red;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
}

.no-content-message {
  font-size: 1.1em;
  color: #777;
  text-align: center;
  padding: 40px;
}
/* --- 共用元素 --- */

/* --- 個別元素 --- */
.skills-content {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  gap: 20px;
}

.skill-item-card { 
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 10px;
  border: 1px solid #36334f;
  border-radius: 8px;
  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08), 0 0 15px rgba(86, 133, 188, 0.7); */
  align-items: center;
}

.skill-icon {
  font-size: 2em;
  color: #1367ed;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

/* --- 個別元素 --- */